@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-avatar {
  width: 30px;
  margin: 10px 0px;
}

.btn-twitter {
  @extend .btn-info, .btn-lg;
  i {
    font-size: 1.5em;
  }
}

// ----- ABOUT ME

.gravatar {
  width: 120px;
  border:2px solid #e5e7e8;
}

.social-links {
  a {
    text-decoration: none;
    color: #6E9DB5;
    &:hover {
      color: #31708F;
    }
  }
}

hr { border-bottom: 1px solid #eeeeee;}

// ----- TWEETS

.twt-wrapper {

  .panel .panel-body {
    height: 70vh;
    overflow: auto;
  }

  .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;

    img {
      width: 50px;
      border:2px solid #e5e7e8;
    }
  }
}
